@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
body {
  font-family: "poppins", sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
}

#inventoryForm {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#inventoryForm label,
#inventoryForm input,
#inventoryForm button {
  margin: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}
